* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
}

img {
	cursor: pointer;
}

section .writing__Section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 5rem;
}

.writing__Section--Place {
	text-align: justify;
	padding: 2rem;
	margin-top: 4rem;
	border: 1px solid lightgray;
	min-height: 400px;
	height: max-content;

}

.writing_Section--Icon {
	display: flex;
	justify-content: center;
	width: 100px;
	height: 100px;
	margin: 1rem;
}

.writing_Section--Icon>img {
	margin-right: 2rem;
}